// Mixins Here

// Mixins in here

.one-edge-shadow(@color:black) {
	-webkit-box-shadow: 0 8px 6px -6px @color;
	   -moz-box-shadow: 0 8px 6px -6px @color;
	        box-shadow: 0 8px 6px -6px @color;
}

.dashed_bottom_border(@color: black) {
    border-bottom: 2px dashed @color;
}

.button(@width: 200px, @background: black, @color: white, @border-radius: 5px) {
    border-radius: @border-radius;
    width: @width;
    background: @background;
    color: @color;
    padding: 0.8rem 1.2rem;
    border-style: none;
    font-size: 1.65rem;
    .one-edge-shadow(rgba(0, 0, 0, 0.322));

    &:hover {
        cursor: pointer;
        background: darken(@background, 10%);
        transition: all 2s;
    }
}